@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida console';
  text-transform: uppercase;
}

input,
input:hover,
input:focus,
button:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

a,
a:hover,
a:active,
button,
input {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul,
li,
nav {
  display: block;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  color: #ccc;
}

body {
  background-color: #000;
}
h1 {
  font-size: 45px;
  text-transform: none;
}
h2 {
  font-size: 34px;
  color: #ccc;
}
h3 {
  font-weight: bold;
  font-size: 24px;
  text-transform: none;
}
.text-center {
  text-align: center;
}
.text-enter {
  margin-top: 20px;
}

.btn {
  height: 50px;
  padding: 25px 50px;
  color: #000;
  border-radius: 4px;
  background-color: #ccc;
}
.btn:hover {
  opacity: 0.8;
}
.btn_medium {
  width: 200px;
  padding: 0 50px;
}
.btn_medium:hover {
  box-shadow: 5px -9px 13px 6px rgb(95 37 175 / 58%);
}
.hidden-obj {
  opacity: 0;
}
.footer-anim {
  animation: fadeInUp 1.4s ease-in;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
.active {
  display: block;
}
.fadeInUpAnim {
  animation: fadeInUp 0.5s ease-in;
}
.fadeInAnim {
  animation: fadeIn 0.5s ease-in;
}
.zoomInAnim {
  animation: zoomIn 0.5s cubic-bezier(0.57, 0.17, 0.83, 0.67);
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  flex: 1 1 100%;
}
.header {
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 1;
}
.menu {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  animation: fadeInUp 0.5s ease-in;
}
.menu__logo {
  animation: fadeInUp 0.5s ease-in;
  font-weight: bold;
  font-size: 24px;
  text-transform: none;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__link {
  text-transform: uppercase;
  color: #ccc;
  padding-right: 100px;
}
.menu__link:hover {
  opacity: 0.8;
  transition: 0.4s all;
}
.intro__label {
  text-align: center;
  position: relative;
}
.intro__label:after {
  content: '';
  animation: fadeInUp 0.8s ease-in infinite;
  height: 1px;
  border-right: 3px solid #ccc;
  position: relative;
  left: 4px;
}
.welcome__intro {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.scrollDown {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid var(--text-color);
  border-right: 2px solid var(--text-color);
  transform: translate(-50%, 0);
  animation: shakeY 6s infinite;
}
.scrollDown::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}
.scrollDown:hover {
  cursor: pointer;
}
.main__description {
  padding-bottom: 200px;
}
.description__label {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 200px;
}

.description__link {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.description__link:hover {
  opacity: 0.6;
}
.description__link:hover .description__arrow {
  transform: translateX(0);
}

.description__object {
  display: block;
  border: #ccc;
  width: 700px;
  height: 425px;
  border-radius: 10px;
}
.description__object_left {
  margin-left: auto;
  position: relative;
}
.description__object_right {
  margin-right: auto;
  position: relative;
  width: 900px;
  height: 450px;
}

.description__link_theory {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.description__link_test {
  background-image: url(../img/2.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.description__text_left {
  position: absolute;
  top: 87px;
  left: -476px;
  right: 0;
  bottom: 0px;
}

.description__arrow {
  transform: translateX(-500px);
  transition: transform 0.2s ease-in;
}
.description__arrow_right {
  transform: translateX(-500px);
  transition: transform 0.2s ease-in;
}

.description__text_right {
  position: absolute;
  top: 50%;
  left: 110%;
  right: 0;
  bottom: 0px;
}

.description__text {
  width: 500px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.description__text:hover {
  opacity: 0.8;
}
/* Блок с теорией */
.theory {
  padding-top: 200px;
}
.footer {
  padding-bottom: 40px;
}
.user {
  display: flex;
  justify-content: center;
}
.user__name {
  font-size: 18px;
}

.user__info:before {
  content: '';
  border-top: 2px solid #ccc;
  width: 1200px;
  padding-top: 20px;
  display: block;
  text-align: center;
}
.user__text {
  font-size: 17px;
}
.user__list-links {
  display: flex;
  justify-content: space-between;
}
.user__link {
  transition: 0.4s all;
  text-transform: none;
  position: relative;
  font-size: 18px;
}
.user__link-item {
  text-transform: none;
}
.user__text {
  text-transform: none;
  margin-bottom: 10px;
}
.user__name {
  text-transform: none;
}
.user__list-info {
  display: flex;
  justify-content: space-between;
}
.user__info-items:nth-child(2) {
  margin-left: 105px;
}
.user__ref-list {
  display: flex;
  justify-content: space-between;
}

.user__link_vk {
  right: 40px;
}
.user__link_vk::after {
  content: '';
  position: absolute;
  border: 3px solid #3b5998;
  border-radius: 50%;
  top: 9px;
  font-size: 10px;
  right: 38px;
}
.user__link_vk:hover {
  color: #3b5998;
}
.user__link_tg {
  left: 10px;
}
.user__link_tg::after {
  content: '';
  position: absolute;
  border: 3px solid #55acee;
  border-radius: 50%;
  top: 9px;
  font-size: 10px;
  right: 38px;
}
.user__link_tg:hover {
  color: #55acee;
}
.user__link_git {
  left: 55px;
}
.user__link_git:after {
  content: '';
  position: absolute;
  border: 3px solid #b42d29;
  border-radius: 50%;
  top: 9px;
  font-size: 10px;
  right: 27px;
}
.user__link_git:hover {
  color: #b42d29;
}
.user__link_mail:hover {
  opacity: 0.8;
}
/* Tabs theory */
.tabs {
  display: flex;
}

.tabs__item {
  flex: 0 1 100%;
  width: 190px;
  height: 50px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  animation: fadeInUp 0.3s ease-in;
  display: block;
  border: 2px solid #ccc;
  background-color: #ccc;
  border-radius: 6px;
  text-align: center;
  padding-top: 15px;
  cursor: pointer;
}
.tabs__items:hover {
  color: #000;
}

.tabs__block {
  margin-top: 100px;
  font-size: 18px;
  animation: fadeInUp 0.3s ease-in;
  font-family: 'Roboto Mono', sans-serif;
}
.tabs__block:target {
  display: block;
}

.tabs__list-items {
  margin-top: 20px;
}
/* Регистры */
.tabs__registers {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.tabs__text {
  text-transform: none;
  font-family: 'Roboto Mono', sans-serif;
  font-weight: 300;
  letter-spacing: -1px;
  line-height: 25px;
}
.tabs__text span {
  color: #fff;
  font-weight: 900;
}
.tabs__text_end {
  padding-bottom: 100px;
}
.tabs__reg-list {
}
.tabs__reg-items {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.tabs__reg-name {
  margin-right: 20px;
}
.tabs__reg-obj {
  border: 2px solid #ccc;
}
.tabs__reg-obj_long {
  width: 500px;
  height: 30px;
  background-color: #729b60db;
}
.tabs__reg-obj_short {
  width: 250px;
  height: 30px;
}
.tabs__reg-obj_short_1 {
  background-color: #51a12e;
}
.tabs__reg-obj_short_2 {
  background-color: #51a12e;
}
.tabs__reg-items_red:nth-child(5) {
  padding-top: 30px;
}
.tabs__reg-spec {
  text-align: center;
  margin-top: 4px;
}
.tabs__reg-items_red .tabs__reg-obj_short_1 {
  width: 500px;
  height: 30px;
  background-color: #b42d29;
}
.tabs__reg-items_red .tabs__reg-obj_long {
  background-color: #b42d29c7;
}

.tabs__class-registr {
  margin-top: 30px;
  margin-bottom: 30px;
  font-family: 'Roboto Mono', sans-serif;
}
.tabs__class-registr span {
  color: #fff;
  font-weight: bold;
}
/* quiz dif */
.test {
  padding-top: 150px;
  text-align: center;
}
.test__dif {
  padding-bottom: 100px;
  padding-top: 200px;
}
.test__dif-obj {
  display: flex;
  justify-content: center;
}
.test__btn {
  margin: 0 25px 0 25px;
}
.tabs__enter {
  font-family: 'Roboto Mono', sans-serif;
  letter-spacing: -1px;
}
.tabs__name-jmp {
  text-transform: none;
}
.tabs__text {
  font-family: 'Roboto Mono', sans-serif;
  letter-spacing: -1px;
}
.tabs__table {
  margin-top: 30px;
  display: flex;
  margin-bottom: 30px;
}
.tabs__table p {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
}
.tabs__table-item {
  width: 400px;
  display: block;
  height: auto;
  border: 3px solid #ccc;
}
.tabs__table-item_small-top {
  height: 80px;
}

.tabs__table-obj-flags {
  display: block;
}
.tabs__obj-items {
  display: flex;
}
.tabs__table-obj {
  display: block;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  border: 3px solid #ccc;
}
.tabs__table-obj_first {
  width: 200px;
  color: #fff;
  font-weight: bold;
  font-family: 'Roboto mono', sans-serif;
}
.tabs__table-obj_second {
  width: 600px;
}
.tabs__table-obj_third {
  width: 250px;
}

/* quiz-test */
.quiz {
  text-align: center;
  font-size: 32px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.quiz__question {
  width: 1200px;
  text-align: center;
  margin-bottom: 100px;
  margin-top: 50px;
}
.quiz__btn {
  margin-top: 20px;
  height: auto;
  -webkit-box-shadow: 3px 0px 8px 0px rgba(251, 253, 255, 0.24);
  -moz-box-shadow: 3px 0px 8px 0px rgba(251, 253, 255, 0.24);
  box-shadow: 3px 0px 8px 0px rgba(251, 253, 255, 0.24);
}
.quiz__btn:hover {
  box-shadow: 5px -9px 13px 6px #5f25af94;
  opacity: 1;
}
.quiz__answers {
  display: flex;
  flex-direction: column;
  width: 1200px;
  text-align: center;
}
/* Quiz result */
.quiz__result {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.quiz__result-block {
  padding-top: 100px;
  padding-bottom: 100px;
}
.quiz__result-label {
  text-align: center;
  font-size: 107px;
}
.quiz__result-label span {
  display: block;
  margin-top: 60px;
  margin-bottom: 60px;
}
.quiz__restart-btn {
  height: auto;
  border-radius: 8px;
  margin-bottom: 50px;
}
.quiz__restart-btn:hover {
  opacity: 1;
  box-shadow: 5px -9px 13px 6px rgb(95 37 175 / 58%);
}
@media screen and (320px < width <= 1350px) {
  .description__object_left,
  .description__object_right {
    margin: 0 auto;
    text-align: center;
  }

  .description__text_left,
  .description__text_right {
    position: initial;
  }
  .description__link_theory {
    margin-top: 30px;
  }

  .description__object_right {
    width: 700px;
    height: 425px;
  }

  .tabs__item {
    width: 150px;
  }
  .tabs__reg-obj_long {
    width: 250px;
  }

  .tabs__reg-obj_short_1_red {
    width: 250px;
  }

  .tabs__table-obj_first {
    width: 100px;
  }
  .tabs__table-obj_second {
    width: 400px;
  }
  .tabs__table-obj_third {
    width: 160px;
  }
  .tabs__reg-red_short {
    width: 250px;
  }
  .tabs__reg-obj_short {
    width: 125px;
  }
  .tabs__reg-items_red .tabs__reg-obj_short_1 {
    width: 250px;
    background-color: #b42d29;
  }
  .user__list-info {
    flex-direction: row;
    padding: 0 15px;
  }
  .user__info {
    width: 100vw !important;
  }

  .user__ref-list {
    text-align: center;
    justify-content: center;
  }
  .user__info-items:nth-child(2) {
    margin-left: 0;
  }
  .user {
    padding-top: 60px;
  }
  .user__info:before {
    width: 100vw;
  }

  .quiz__answers {
    width: 800px;
  }
  .main__description {
    padding: 0;
  }
}
@media screen and (320px < width <= 1024px) {
  h1 {
    font-size: 32px;
  }
  h2 {
    font-size: 28px;
  }
  .user__list-info {
    flex-direction: column;
    padding: 0 15px;
    text-align: center;
  }
  .tabs__table {
    flex-direction: column;
    align-items: center;
  }
  .tabs__table-obj_first {
    font-size: 15px;
  }
  .tabs__table-obj_second {
    width: 200px;
  }
  .user__info-items {
    margin-top: 40px;
  }
  .quiz__answers {
    width: 600px;
  }
  .quiz__result-label {
    font-size: 80px;
  }
}
@media screen and (320px < width <= 768px) {
  .quiz__result-label {
    font-size: 60px;
  }
  .quiz__result-info {
    font-size: 28px;
  }
  .tabs {
    flex-direction: column;
  }
  .tabs__items {
    display: flex;
    overflow: hidden;
    overflow-x: scroll;
  }
  .tabs__item {
    margin-bottom: 0;
    padding: 15px;
    margin-bottom: 40px;
  }

  ::-webkit-scrollbar {
    width: 4px;
    height: 4px;
  }
  ::-webkit-scrollbar-track {
    border-radius: 10px;
    background: #5f25af94;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ccc;
    border-radius: 5px;
  }

  ::-webkit-scrollbar-thumb:hover {
    background: #ccc;
  }

  .description__info {
    width: 50%;
    height: 50%;
  }
  .tabs__obj-items {
    justify-content: center;
  }

  .menu__link {
    padding: 25px;
  }

  .test__dif {
    padding-top: 100px;
  }
  .quiz__question {
    margin-bottom: 50px;
  }
}
