@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,400);
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Lucida console';
  text-transform: uppercase;
}

input,
input:hover,
input:focus,
button:active,
button,
button:hover,
button:focus,
button:active {
  outline: none;
}

a,
a:hover,
a:active,
button,
input {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}
ul,
li,
nav {
  display: block;
  padding: 0;
  margin: 0;
}
html,
body {
  height: 100%;
  color: #ccc;
}

body {
  background-color: #000;
}
h1 {
  font-size: 45px;
  text-transform: none;
}
h2 {
  font-size: 34px;
  color: #ccc;
}
h3 {
  font-weight: bold;
  font-size: 24px;
  text-transform: none;
}

.btn {
  height: 50px;
  padding: 25px 50px;
  color: #000;
  border-radius: 4px;
  background-color: #ccc;
}

.btn_medium {
  width: 200px;
  padding: 0 50px;
}
.hidden-obj {
  opacity: 0;
}
.footer-anim {
  animation: fadeInUp 1.4s ease-in;
}
.visible {
  display: block;
}
.hidden {
  display: none;
}
.active {
  display: block;
}
.fadeInUpAnim {
  animation: fadeInUp 0.5s ease-in;
}
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

[class*='__container'] {
  max-width: 1500px;
  padding: 0 15px;
  margin: 0 auto;
}

main {
  flex: 1 1 100%;
}
.header {
  position: fixed;
  height: 75px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  z-index: 1;
}
.menu {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
  animation: fadeInUp 0.5s ease-in;
}
.menu__logo {
  animation: fadeInUp 0.5s ease-in;
  font-weight: bold;
  font-size: 24px;
  text-transform: none;
}
.menu__list {
  display: flex;
  align-items: center;
}
.menu__link {
  text-transform: uppercase;
  color: #ccc;
  padding-right: 100px;
}
.menu__link:hover {
  opacity: 0.8;
  transition: 0.4s all;
}
.intro__label {
  text-align: center;
  position: relative;
}
.intro__label:after {
  content: '';
  animation: fadeInUp 0.8s ease-in infinite;
  height: 1px;
  border-right: 3px solid #ccc;
  position: relative;
  left: 4px;
}
.welcome__intro {
  align-items: center;
  display: flex;
  justify-content: center;
  height: 100vh;
}
.scrollDown {
  position: absolute;
  left: 50%;
  bottom: 100px;
  display: block;
  text-align: center;
  font-size: 20px;
  z-index: 0;
  text-decoration: none;
  text-shadow: 0;
  width: 13px;
  height: 13px;
  border-bottom: 2px solid var(--text-color);
  border-right: 2px solid var(--text-color);
  transform: translate(-50%, 0);
  animation: shakeY 6s infinite;
}
.scrollDown::after {
  content: '';
  position: absolute;
  top: 0;
  left: 50%;
  width: 24px;
  height: 24px;
  margin-left: -12px;
  border-left: 1px solid #fff;
  border-bottom: 1px solid #fff;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  box-sizing: border-box;
}

.main__description {
  padding-bottom: 200px;
}
.description__label {
  text-align: center;
  margin-bottom: 200px;
  margin-top: 200px;
}

.description__link {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.description__link:hover {
  opacity: 0.6;
}
.description__link:hover .description__arrow {
  transform: translateX(0);
}

.description__object {
  display: block;
  border: #ccc;
  width: 700px;
  height: 425px;
  border-radius: 10px;
}
.description__object_left {
  margin-left: auto;
  position: relative;
}
.description__object_right {
  margin-right: auto;
  position: relative;
  width: 900px;
  height: 450px;
}

.description__link_theory {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.description__link_test {
  background-image: url(../img/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.description__text_left {
  position: absolute;
  top: 87px;
  left: -476px;
  right: 0;
  bottom: 0px;
}

.description__arrow {
  transform: translateX(-500px);
  transition: transform 0.2s ease-in;
}
.description__arrow_right {
  transform: translateX(-500px);
  transition: transform 0.2s ease-in;
}

.description__text_right {
  position: absolute;
  top: 50%;
  left: 110%;
  right: 0;
  bottom: 0px;
}

.description__text {
  width: 500px;
  text-align: center;
  font-size: 24px;
  font-weight: bold;
}
.description__text:hover {
  opacity: 0.8;
}
/* Блок с теорией */
.theory {
  padding-top: 200px;
}
.footer {
  padding-bottom: 40px;
}
.user {
  display: flex;
  justify-content: center;
}
.user__name {
  font-size: 18px;
}

.user__info:before {
  content: '';
  border-top: 2px solid #ccc;
  width: 1200px;
  padding-top: 20px;
  display: block;
  text-align: center;
}
.user__text {
  font-size: 17px;
}
.user__list-links {
  display: flex;
  justify-content: space-between;
}
.user__link {
  transition: 0.4s all;
  text-transform: none;
  position: relative;
  font-size: 18px;
}
.user__link-item {
  text-transform: none;
}
.user__text {
  text-transform: none;
  margin-bottom: 10px;
}
.user__name {
  text-transform: none;
}
.user__list-info {
  display: flex;
  justify-content: space-between;
}
.user__info-items:nth-child(2) {
  margin-left: 105px;
}
.user__ref-list {
  display: flex;
  justify-content: space-between;
}

.user__link_vk {
  right: 40px;
}
.user__link_vk::after {
  content: '';
  position: absolute;
  border: 3px solid #3b5998;
  border-radius: 50%;
  top: 9px;
  font-size: 10px;
  right: 38px;
}
.user__link_vk:hover {
  color: #3b5998;
}
.user__link_tg {
  left: 10px;
}
.user__link_tg::after {
  content: '';
  position: absolute;
  border: 3px solid #55acee;
  border-radius: 50%;
  top: 9px;
  font-size: 10px;
  right: 38px;
}
.user__link_tg:hover {
  color: #55acee;
}
.user__link_git {
  left: 55px;
}
.user__link_git:after {
  content: '';
  position: absolute;
  border: 3px solid #b42d29;
  border-radius: 50%;
  top: 9px;
  font-size: 10px;
  right: 27px;
}
.user__link_git:hover {
  color: #b42d29;
}
.user__link_mail:hover {
  opacity: 0.8;
}
/* Tabs theory */
.tabs {
  display: flex;
}

.tabs__item {
  flex: 0 1 100%;
  width: 190px;
  height: 50px;
  display: flex;
  margin-top: 100px;
  margin-bottom: 100px;
  margin-right: 50px;
  text-transform: uppercase;
  color: #000;
  text-decoration: none;
  animation: fadeInUp 0.3s ease-in;
  display: block;
  border: 2px solid #ccc;
  background-color: #ccc;
  border-radius: 6px;
  text-align: center;
  padding-top: 15px;
}
.tabs__items:hover {
  color: #000;
}

.tabs__block {
  margin-top: 100px;
  font-size: 18px;
  animation: fadeInUp 0.3s ease-in;
}
.tabs__block:target {
  display: block;
}

/* Регистры */
.tabs__registers {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}
.tabs__reg-list {
}
.tabs__reg-items {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.tabs__reg-name {
  margin-right: 20px;
}
.tabs__reg-obj {
  border: 2px solid #ccc;
}
.tabs__reg-obj_long {
  width: 500px;
  height: 30px;
  background-color: #729b60db;
}
.tabs__reg-obj_short {
  width: 250px;
  height: 30px;
}
.tabs__reg-obj_short_1 {
  background-color: #51a12e;
}
.tabs__reg-obj_short_2 {
  background-color: #51a12e;
}
.tabs__reg-items_red:nth-child(5) {
  padding-top: 30px;
}
.tabs__reg-spec {
  text-align: center;
  margin-top: 4px;
}
.tabs__reg-items_red .tabs__reg-obj_short_1 {
  width: 500px;
  height: 30px;
  background-color: #b42d29;
}
.tabs__reg-items_red .tabs__reg-obj_long {
  background-color: #b42d29c7;
}

.tabs__class-registr {
  margin-top: 30px;
}
/* quiz */
.test {
  padding-top: 150px;
  text-align: center;
}
.test__dif {
  padding-bottom: 100px;
}
.test__dif-obj {
  display: flex;
  justify-content: center;
}
.test__btn {
  margin: 0 25px 0 25px;
}
